/* paleta de colores */
:root{
    --black: #000000ff;
    --oxford-blue: #14213dff;
    --orange-web: #fca311ff;
    --platinum: #e5e5e5ff;
    --white: #ffffffff;
}

/* how to use fonts: */
/* font-family: "Teko", sans-serif; font-family: "Bebas Neue", sans-serif; */

/* ESTILOS DE LOS ELEMENTOS HTML */

/* estilos generales de la pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: fit-content;
    font: 16px "Teko", sans-serif;
    text-decoration: none;
    color: var(--platinum);
    background-color: var(--black);
}

/* titulos de las secciones */
h2 {
    margin: 1em;
    font: 2em "Bebas Neue", sans-serif;
}

h3 {
    font: 1em "Bebas Neue", sans-serif;
    color: var(--orange-web);
}

button {
    border: none;
}

p {
    color: var(--white);
}

i {
    color: var(--platinum);
}

/* ESTILOS DE LAS CLASES APLICADAS */

/* div del titulo y articulo */
.title_div {
    margin: 1em;
}
.title_div h1 {
    font: 3em "Bebas Neue", sans-serif;
}
.title_div article {
    font: 2em "Bebas Neue", sans-serif;
    color: var(--orange-web);
}
.section_container {
    margin: 1em;
    padding: 1em;
}

/* BARRA DE NAVEGACION */
.navbar {
    margin: 1em;
    border-bottom: 1px solid var(--platinum);
}
.navbar_list {
    display: flex column;
    justify-content: space-around;
    list-style: none;
}
.navbar_list li{
    width: fit-content;
    padding: .3em;
}
.navbar_list li a {
    font: 1.3em "Bebas Neue", sans-serif;
}
/* oculta/muestra la barra de navegacion */
.oculto {
    display: none;
}
/* boton de la barra de navegacion */
.nav_boton {
    cursor: pointer;
    margin-left: 1em;
    border: none;
}
.nav_boton i {
    font-size: 1.5em;
    color: var(--orange-web);
}
/* pseudo clases de la barra de navegacion */
.nav_boton i:hover {
    transform: scale(1.2);
    transition: all 1s ease;
}
.navbar_list li a:hover {
    color: var(--orange-web);
    transition: all 1s ease;
}

/* HOME SECTION */
.home_container {
    border-bottom: 1px solid var(--platinum);
}

/* PROJECTS SECTION */
.projects_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid var(--orange-web);
}

.project_div {
    padding: 1em;
    width: 90%;
    margin: auto 1em;
    justify-content: space-around;
    border: 1px solid var(--orange-web);
    border-radius: 10px;
}

/* SKILLS SECTION */
.skills_container {
    padding: 1em;
    margin: auto;
    width: 70%;
    border-bottom: 1px solid var(--orange-web);
}

.skills_container>div {
    margin: auto;
    text-align: center;
    margin: 1em;
}

.skill {
    display: inline-block;
    border-top: 1px solid var(--platinum);
    padding: .5em;
    margin: .5em;
}

.skill:hover {
    border-top: 2px solid var(--orange-web);
    color: var(--orange-web);
    transition: all 1s ease;
}