/* paleta de colores */
:root{
    --black: #000000ff;
    --oxford-blue: #14213dff;
    --orange-web: #fca311ff;
    --platinum: #e5e5e5ff;
    --white: #ffffffff;
}

/* how to use fonts: */
/*  font-family: "Teko", sans-serif;
    font-family: "Raleway", sans-serif; */

/* ESTILOS DE LOS ELEMENTOS HTML */

/* ESTILOS GENERALES DE LA PAGINA */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: fit-content;
    font: 12px "Raleway", sans-serif;
    text-decoration: none;
    color: var(--oxford-blue);
    background-color: var(--platinum);
    scroll-behavior: smooth;
    list-style: none;
}

section {
    padding: 2em;
}

h2 {
    font: bold 1.5em 'Rajdhani', sans-serif;
}

/* ESTILOS DEL HEADER */
.header__container {
    background-color: var(--oxford-blue);
    padding: 1em 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__container__title {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.header__title, .header__article, .header__container a {
    background-color: transparent;
    color: var(--orange-web);
}

/* ESTILOS DEL SECTION HELLO */
.section__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.section__hello article {
    margin: 1em;
}

.section__hello__networks {
    padding: 1em;
    border-bottom: 1px solid var(--orange-web);
}

.section__hello__networks ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* ESTILOS DEL SECTION ABOUT ME */
.section__aboutme article {
    margin: 1em;
}

/* ESTILOS DEL SECTION SKILLS */
.section__skills__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.img__skill {
    align-self: center;
    margin: .5em;
    padding: 1em;
    width: 30%;
}

/* ESTILOS DEL SECTION FORMACION ACADEMICA */
.academic__item {
    margin: 1em;
    padding: 1em;
    border-bottom: 1px solid var(--orange-web);
}

.academic__item img {
    margin: .5em 0;
    width: 60%;
    border-radius: 4px;
}

.academic__item__title {
    font: 1.5em 'Rajdhani', sans-serif;
}

.academic__item__date {
    margin: .5em 0;
    font-style: italic;
}

.academic__item__link {
    color: var(--black);
    display: flex;
    align-items: center;
    gap: 5px;
}

.academic__item__link img {
    width: 20px;
}

/* ESTILOS DEL SECTION EXPERIENCIA LABORAL */
.work__item {
    margin: 1em;
    padding: 1em;
    border-left: 1px solid var(--oxford-blue);
}

.work__item img {
    margin: auto .5em;
    width: 80%;
    border-radius: 10px;
}

.work__item__title {
    margin: .2em;
    font: 1.5em 'Rajdhani', sans-serif;
}

.work__item article {
    margin: .2em;
    padding: .2em;
    font-style: italic;
}

.work__item__containerbtn {
    padding: .5em;
}

.work__item__btn {
    font: 1.2em 'Rajdhani', sans-serif;
    background-color: var(--orange-web);
    color: var(--black);
    padding: .5em;
    border: none;
    border-radius: 4px;
}

.demo {
    background-color: var(--oxford-blue);
    color: var(--orange-web);
}

/* ESTILOS DEL SECTION CONTACT */
.form__container {
    margin: 1em;
    padding: 1em;
    border: 1px solid var(--oxford-blue);
    border-radius: 4px;
}

.form__container article {
    padding: 1em;
}

.form__container div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: .5em;
    margin: .5em;
}

label {
    font-weight: bold;
    font-style: italic;
}

input {
    padding: .4em;
    border: none;
    border-bottom: 1px solid var(--orange-web);
}

input:focus {
    background-color: var(--oxford-blue);
    border-bottom: 1px solid var(--orange-web);
    color: var(--orange-web);
    border: none;
    transition: all 1s ease-in;
}

.form__btn {
    font: 1.2em 'Rajdhani', sans-serif;
    background-color: var(--orange-web);
    color: var(--black);
    align-self: center;
    padding: .5em;
    margin: 0 .5em;
    border-radius: 4px;
    border: none;
}