/* paleta de colores */
:root{
    --black: #000000ff;
    --oxford-blue: #14213dff;
    --orange-web: #fca311ff;
    --platinum: #e5e5e5ff;
    --white: #ffffffff;
}

/* how to use fonts: */
/*  font-family: "Teko", sans-serif;
    font-family: "Raleway", sans-serif; */

/* ESTILOS DE LOS ELEMENTOS HTML */

/* ESTILOS GENERALES DE LA PAGINA */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: fit-content;
    font: 12px "Raleway", sans-serif;
    text-decoration: none;
    color: var(--oxford-blue);
    background-color: var(--platinum);
    scroll-behavior: smooth;
    list-style: none;
}

section {
    padding: 2em;
}

h2 {
    font: bold 1.5em 'Rajdhani', sans-serif;
}

/* ESTILOS DEL HEADER */
.header_container {
    background-color: var(--oxford-blue);
    padding: 1em 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_container_title {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.header_title, .header_article, .header_container a {
    background-color: transparent;
    color: var(--orange-web);
}

/* ESTILOS DEL SECTION HELLO */
.section__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.section_hello article {
    margin: 1em;
}

.section_hello_networks {
    padding: 1em;
    border-bottom: 1px solid var(--orange-web);
}

.section_hello_networks ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}